<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PoliziaMunicipale2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PoliziaMunicipale2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PoliziaMunicipale2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Link alla Home -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <!-- Link alla Privacy -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <!-- Link alla Gestione Verbali -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Verbale" asp-action="Index">Gestione Verbali</a>
                        </li>

                        <!-- Link alla Gestione Anagrafica -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Anagrafica" asp-action="Index">Gestione Anagrafica</a>
                        </li>

                        <!-- Link alla Gestione Violazioni -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoViolazione" asp-action="Index">Gestione Violazioni</a>
                        </li>

                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Report" asp-action="VerbaliPerTrasgressore">Verbali per Trasgressore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Report" asp-action="PuntiDecurtatiPerTrasgressore">Punti Decurtati per Trasgressore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Report" asp-action="ViolazioniGrandiPunti">Violazioni con Più di 10 Punti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Report" asp-action="ViolazioniOltre400Euro">Violazioni Oltre 400 Euro</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PoliziaMunicipale2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
